{{#each errors}}
<div class="alert alert-danger">
  {{ text }}
</div>
{{else}}
{{/each}}

<h3>Nova Categoria:</h3>
<div class="card">
  <div class="card-body">
    <form action="/v1/admin/categories/add" method="POST">
      <labe for="name">Nome:</labe>
      <input class="form-control" type="text" id="name" name="name" placeholder="Nome da categoria" />
      <br />
      <labe for="slug">Slug:</labe>
      <input class="form-control" type="text" id="slug" name="slug" placeholder="Slug da categoria" />
      <br />
      <button type="submit" class="btn btn-success">
        Criar categoria
      </button>
    </form>
  </div>
</div>